$main-color = #29C6CD
$gradient-color-1 = #29C6CD
$gradient-color-2 = #36B1DA
$main-font = PingHei,'PingFang SC',Helvetica Neue,'Work Sans','Hiragino Sans GB','Microsoft YaHei',SimSun,sans-serif;
h1,h2,h3,h4,h5,h6 
    font-weight: 100

@import "partial/_base.styl"
@import "partial/_content.styl"
@import "partial/_highlight.styl"