#header
  width: 100%;
  height: header-height
  position: relative
  border-bottom: 1px solid #222
  &:before, &:after
    content: ""
    position: absolute
    left: 0
    right: 0
    height: 40px
  &:before
    top: 0
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8))
  //&:after
    //bottom: 0
    //background: linear-gradient(transparent, rgba(0, 0, 0, 0.2))

#header-outer
  height: 100%
  position: relative

#header-inner
  position: relative
  overflow: hidden
  
#header-title
  text-align: center
  height: logo-size
  position: absolute
  top: 45%
  left: 0
  margin-top: logo-size * -0.5


$logo-text
  text-decoration: none
  color: #fff
  font-weight: 300
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3)

#logo
  @extend $logo-text
  font-size: logo-size
  line-height: logo-size
  letter-spacing: 2px
  .name 
    position: absolute
    top: 0
    left: 50%
    width: 250px
    margin-left: -125px
    padding: 20px 0px
    border: 3px solid #ff9a72
    border-radius: 10px
    text-align: center 
    font-size: 60px
    letter-spacing: -2px
    font-family: Helvetica, "microsoft yahei"

#subtitle
  @extend $logo-text
  font-size: subtitle-size
  line-height: subtitle-size
  letter-spacing: 1px

#subtitle-wrap
  margin-top: subtitle-size

#main-nav
  float: left
  margin-left: -15px

$nav-link
  float: left
  color: #fff
  opacity: 0.8
  text-decoration: none
  text-shadow: 0 1px rgba(0, 0, 0, 0.2)
  transition: opacity 0.2s
  display: block
  padding: 12px 15px
  &:hover
    opacity: 1

.nav-icon
  @extend $nav-link
  font-family: font-icon
  text-align: center
  font-size: font-size
  width: font-size
  height: font-size
  padding: 12px 15px
  position: relative
  cursor: pointer

.main-nav-link
  position: relative
  @extend $nav-link
  font-weight: 300
  letter-spacing: 1px
  
  &:after 
    position: absolute
    right: 0
    top: 15px
    display: block
    content: ''
    width: 1px
    height: 12px
    background: #fff
      

  @media mq-mobile
    display: none

#main-nav-toggle
  display: none
  &:before
    content: "\f0c9"
  @media mq-mobile
    display: block

#sub-nav
  float: right
  margin-right: -15px

#nav-rss-link
  &:before
    content: "\f09e"

#nav-search-btn
  &:before
    content: "\f002"

#search-form-wrap
  position: absolute
  top: 5px
  width: 150px
  height: 30px
  right: -150px
  opacity: 0
  transition: 0.2s ease-out
  &.on
    opacity: 1
    right: 0
  @media mq-mobile
    width: 100%
    right: -100%

.search-form
  position: absolute
  top: 0
  left: 0
  right: 0
  background: #fff
  padding: 5px 15px
  border-radius: 15px
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)

.search-form-input
  border: none
  background: none
  color: color-default
  width: 100%
  font: 13px font-sans
  outline: none
  &::-webkit-search-results-decoration
  &::-webkit-search-cancel-button
    -webkit-appearance: none

.search-form-submit
  position: absolute
  top: 50%
  right: 10px
  margin-top: -7px
  font: 13px font-icon
  border: none
  background: none
  color: #bbb
  cursor: pointer
  &:hover, &:focus
    color: #777
    

// banner animation


.banner-wrap
  position: relative;
  height:  banner-height - 40px
  
  &:after
    content: ""
    position: absolute
    left: 0
    right: 0
    height: 50px
  &:after
    bottom: 0
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15))

  #banner
    position: relative
    top: -40px
    z-index: -1
  .view 
    position: relative
    //width: 80%
    height: banner-height
    perspective: 1000px
    overflow: hidden
    background: linear-gradient(top, #1a4363, #0f3a5b)
    
    .earth-wrap 
        position: absolute
        left: 50%
        bottom: banner-height * -5
        width: 0
        heiht: 0     
        //transform: translateZ( -banner-height * 0.3)
    
    .earth 
    // deletewidth: 100px
        height: 100px
        background: #fff

        /*  */
        position: relative
        transform-style: preserve-3d
        transform-origin: center
        animation: earth-rotate 60s linear infinite
        .mountain 
            position: absolute
            top: 0
            left: 0
            box-sizing: border-box
            width: 0
            height: 0
            border-color: #abc
            border-style: solid
            border-top: none
            border-bottom: 2rem solid #abc
            border-left: 1rem solid transparent
            border-right: 1rem solid transparent
            transform-origin: center top

            i 
                display: block
                position: absolute
                top: 0
                left: 0
                box-sizing: border-box
                width: 0
                height: 0
            
        
        .star 
            position: absolute
            top: 0
            left: 0
            box-sizing: border-box
            width: 0
            height: 0 
            animation-name: star-blink
            //animation-timing-function: step-start 
            animation-iteration-count: infinite
            animation-duration: 5s
        
    

    .name 
        position: absolute
        top: 0
        left: 50%
        margin-left: -114px
        margin-top: 140px
    


@keyframes earth-rotate 
  form 
    transform: rotateX(0)
  
  to 
    transform: rotateX(-360deg)
  


@keyframes star-blink 
    0% 
        opacity: 0
    

    10% 
        opacity: 1
    

    90% 
        opacity: 1
    

    100% 
        opacity: 0
    


























