$main-color = #29C6CD
$gradient-color-1 = #36B1DA
$gradient-color-2 = #29C6CD
$main-font = PingHei,'PingFang SC',Helvetica Neue,'Work Sans','Hiragino Sans GB','Microsoft YaHei',SimSun,sans-serif;

@import "partial/_base.styl"
@import "partial/_content.styl"
@import "partial/_highlight.styl"